
.topnav {
  position: fixed; 
  background-color: #F3B74C;
  z-index: 2;
  width: 100%;
}

.topnav-right {
  float: right;
  background-color: #F3B74C;
  padding-right: 20px;
}

.topnav a {
  float: right;
  font-family : 'Avenir';
  color: black;
  text-align: center;
  padding: 25px 20px;
  margin: 10px 5px;
  max-width:30%;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #fad088;
  color: black;
}

.topnav a.active {
  background-color: #F3B74C;
  color: white;
}

.sectionTitle{
  font-weight: lighter;
  text-align: left;
  font-family : 'Avenir';
  margin-top:8%;
}

#cartWithCount{
  position: relative;
}

#orderCount{
  position: absolute;
  bottom: 0; right: 0; width: 200%; text-align:right;
}

#cartImg{
  max-width:10%;
  left:-200%;
  margin-left:10%;
}

#updatedCartImg{
  max-width:50%;
  margin-left:10%;
  position: absolute; 
  top: 10; right: 0; width: 200%; text-align:right;
}

.selectedCart{
  background-color: white;
  padding:10px;
  border-radius: 18px;
  
}

.selectedCart a.hover {
  background-color:#F3B74C;
}

#logoImg{
  max-width: 30%;
}

#storeName{
  font-family : 'Avenir';
  margin-top:30px;
}

.logoHolder {
  display:flex;
  padding-left:10px;
  margin-top:10px;
}

.logoHolder  a {
  float: left;
  padding: 10px 10px;
}

.logoHolder a:hover {
  background-color: #F3B74C;
}

.logoHolder a.active {
  background-color: #F3B74C;
}


.grid-container {
grid-gap: 10px;
position: relative;
padding: 10px;
text-align: center; 
z-index:0;
}

.grid-container1{
  z-index:-1;
}

.grid-item{
    grid-column: 1;
  }

.picture-gallery{
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align:center;
  margin:50px 20px; 
}


.galleryImg{
  max-width: 70%;
}

.imgHolder {
  position: relative;
  display:table;
}

.caption{
  background-color: #FBB2AF;
  display:table-caption;
  caption-side:bottom;
  margin:0px 20px 35px ; 
  font-size: 20px;
  font-family : 'Avenir';
}

#exploreButton{
  background-color: #FFAC18;
  border: none;
  color: black;
  padding: 20px 400px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
}

.review{
  display: grid;
  grid-template-columns: auto auto;
  text-align:center;
  margin:60px auto; 
  padding: 20px 70px ;
  background-color: #FFE9C2;
  font-family : 'Avenir';
}

.box{
  margin:60px auto; 
  padding: 20px 70px ;
  background-color: #FFE9C2;
}

.reviewerName{
  text-align: left;
  font-size:30px;
  font-weight: 100;
}


.overlay {
  position: fixed; 
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  cursor: pointer; 
  z-index: 0; 
}

#productDetail{
  background-color:white;
  z-index:1;
  margin: 10% ; 
  text-align:left;
  padding: 10px;
  border: 1px solid #888;
  position: fixed;
  width:50%;
  height: 60%;
  left:25%;
  top:25%;
  display: block;
  margin: 0 auto;
  background-image:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('img/roll1.jpg');
  background-position: center;
  background-size: 100%;
  
}

.popUpTitle{
  text-align:center;
  font-family : 'Avenir';
  font-size:30px;
  color:white;
}

/* https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 0px;
  margin-top:-20px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.label1{
  font-family : 'Avenir';
}

#select{
  padding-top: 30px;
  padding-bottom: 30px;
  grid-template-columns: auto auto;
  color:white;
  font-weight: 500;
}

.amountButton{
  background-color:transparent;
  border: none;
  color:black;
  background-color:white;
  font-weight: 500;
  font-size: 25px;
  border-radius: 20px;
  padding:5px auto;
  margin:5px;
}

#amount{
  margin-left:30%;
}

#rollCount{
  font-size: 25px;
  font-weight:500px;
  font-family : 'Avenir';
}

.addToCart{
  background-color: #FFD488;
  border: none;
  padding: 25px 60px;
  text-align: center;
  left:50%;
  font-size: 20px;
  border-radius: 50px;
  margin: auto 33%;
}


#cartList{
  background-color:white;
  z-index:1;
  margin: 10% ; 
  text-align:left;
  padding: 6px;
  border: 1px solid #888;
  position: fixed;
  width:35%;
  height: 100vh;
  left:65%;
  top:12%;
  display: block;
  margin: 0 auto;
  background-position: center;
  background-size: 100%;  
}

#cartTitle{
  font-family:'Avenir';
  text-align: center;
  background:#FFE5B8;
  margin-left: -1.5%;
  margin-top:-2%;
  padding-top: 3%;
}

#cartTitle #titleName{
  padding-bottom:3%;
}

#close{
 float:left;
 padding-left:1%;
}

.order{
  /* grid-template-columns: auto auto auto; */
  display: table;
}

.placeOrder{
  background-color: #FFD488;
  border: none;
  padding: 10px 80px;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 30%;
}

.order{
  margin-right:15%;
}

.cartImg{
  width:30%;
  margin-left:5%;
  float:left;
  display: table-cell;
}

.orderItemInfo{
  text-align:left;
  font-family:'Avenir';
  margin-left:40%;
  margin-right:-20%;
}

.glazingTitle{
  font-weight: lighter;
}

.rollCount{
  font-family:'Avenir';
  display: table-cell; 
}